.profile-backer{
    height: 225px;
  }
  .profile-backer img{
    height: 90px;
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .min{
      min-height: 100vh;
  }
  .bore:hover{
    color: red !important;
    background-color: white !important;
  }
  .bore{
    
	border: 1px solid white;
	border-radius: 0.25rem;
  }